@inject Serenity.ITextLocalizer Localizer
@inject IContentHashCache ContentHashCache
@{
    ViewData["Title"] = Localizer.Get("Db.Northwind.Customer.EntityPlural");
}

@section Head {
@Html.Script("dynamic://Lookup.Northwind.CustomerCountry")
@Html.Script("dynamic://Lookup.Northwind.CustomerCity")
@Html.Script("dynamic://Lookup.Northwind.Employee")
<script>var CKEDITOR_BASEPATH = '@ContentHashCache.ResolvePath(Context.Request.PathBase, "~/Serenity.Assets/Scripts/ckeditor/")';</script>
@Html.ScriptBundle("CKEditor")
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new Serenity.Demo.Northwind.CustomerGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>